//
// Grid system
//

$nav-width: 264px !default;
$nav-width-md: 248px !default;
$content-width: 1200px !default;
$search-results-width: $content-width - $nav-width !default;
$transition-duration: 200ms;

//
// Media queries in pixels
//

$media-queries: ( xs: 320px, sm: 500px, md: $content-width, lg: $content-width + $nav-width, xl: 1400px, ) !default;
